<h2 class="text-danger text-center">Add New Service </h2>
<div class="card-body">
  <form class="form" role="form" autocomplete="off">
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">ID Service :</label>
      <div class="col-lg-9">
        <input class="form-control editable" type="text"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label form-control-label">Types Service :</label>
      <div class="col-md-9">
        <select class="form-control editable">
          <option>Villa</option>
          <option>Room</option>
          <option>House</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label form-control-label">Area Service :</label>
      <div class="col-lg-9">
        <input class="form-control editable" type="number"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Pool Area :</label>
      <div class="col-lg-9">
        <input class="form-control editable" type="number"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Standard Room :</label>
      <div class="col-lg-9">
        <select class="form-control editable">
          <option>Standard</option>
          <option>Deluxe</option>
          <option>Superior</option>
          <option>Suite</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Number of Floors :</label>
      <div class="col-lg-9">
        <input class="form-control editable" type="number"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Maximum capacity:</label>
      <div class="col-lg-9">
        <input class="form-control editable" type="number"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Service prices :</label>
      <div class="col-lg-9">
        <input class="form-control editable" type="number"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Rental Types :</label>
      <div class="col-lg-9">
        <select class="form-control editable">
          <option>Day</option>
          <option>Month</option>
          <option>Year</option>
          <option>Hours</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label"></label>
      <div class="col-lg-9">
        <input type="reset" class="btn btn-secondary" value="Cancel">
        <input type="submit" class="btn btn-primary" value="Add">
      </div>
    </div>
  </form>
</div>
