img{
  width: 1280px;
  height: 720px;
}

.carousel-inner img {
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 30%;

}

.carousel-caption h1 {
  font-size: 300%;
  text-transform: uppercase;
  text-shadow: 5px 5px 15px #000;
}

.carousel-caption h3 {
  text-transform: uppercase;
  text-shadow: 5px 5px 15px #000;
}

@media (max-width: 992px) {
  .carousel-caption {
    top: 10%;
  }

  .carousel-caption h1 {
    font-size: 250%;
  }

  .carousel-caption h3 {
    font-size: 160%;
  }

  .carousel-caption .btn {
    font-size: 120%;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    top: 10%;

  }

  .carousel-caption h1 {
    font-size: 150%;
  }

  .carousel-caption h3 {
    font-size: 100%;
  }

  .carousel-caption .btn {
    font-size: 60%;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 10%;
  }

  .carousel-caption h1 {
    font-size: 100%;
  }

  .carousel-caption h3 {
    font-size: 80%;
  }

  .carousel-caption .btn {
    font-size: 60%;
  }
}
