<footer>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-4">
        <img src="assets/images/service-icon-1.png" alt="icon">
        <hr class="light">
        <p>0236 3847 333</p>
        <p>Email: reservation@furamavietnam.com * www.furamavietnam.com</p>
        <p>103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam</p>
      </div>
      <div class="col-md-4 contact text-left">
        <a href="#" class="text-info">Published price</a>
        <br>

        <a href="#" class="text-info">Lifestyle Blog</a>
        <br>

        <a href="#" class="text-info">Recruitment</a>
        <br>

        <a href="#" class="text-info">Contact</a>
        <br>

        <a href="#" class="text-info">Support</a>
        <br>

      </div>
      <div class="col-md-4">
        <h4 class="padding text-info">Hướng Dẫn Di Chuyển</h4>
        <hr class="light">
        <p>Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong những điểm đến hấp dẫn nhất Châu Á.
          Chỉ
          cách
          Đà Nẵng một quãng lái xe ngắn là bốn Di sản Văn hóa Thế giới được UNESCO công nhận:</p>
        <button class="btn btn-primary"><i class="fas fa-map-marker-alt"></i>Google Map</button>
      </div>
    </div>
  </div>
</footer>
