<div class="container">
  <h2 class="text-center text-danger">Countdown Time</h2>
  <div class="row mt-5">
    <div class="col-12">
      <div class="form-group">
        <input class="form-control" type="number" [(ngModel)]="countTime">
      </div>
    </div>
    <div class="col-4 btn btn-primary">
      <span (click)="start()">Start</span>
    </div>
    <div class="col-4 btn btn-warning">
      <span (click)="stop()">Stop</span>
    </div>
    <div class="col-4 btn btn-danger">
      <span (click)="reset()">Reset</span>
    </div>
    <div class="col-12 mt-3">
      <p class="text-center">{{message}}</p></div>
  </div>
</div>



