<div class="container">
  <h1 class="text-center text-primary">Danh sách danh mục sản phẩm</h1>
 <div class="row justify-content-center">
   <table border="1px">
     <tr>
       <td>STT</td>
       <td>Tên</td>
       <td colspan="2" style="text-align:center">Thao Tác</td>
     </tr>
     <tr *ngFor="let category of categories; index as i">
       <td>{{i + 1}}</td>
       <td>{{category.name}}</td>
       <td>
         <button [routerLink]="['/category/edit', category.id]">Edit</button>
       </td>
       <td>
         <button (click)="deleteCategory(category.id)">Delete</button>
       </td>
     </tr>
   </table>
 </div>

</div>
