<h2 class="text-center">Today's New Article</h2>
<hr>
<div class="row">
  <div class="col-4">
    <h2 class="h2 text-success text-center">Article Information</h2>
    <div class="form-group row">
      <label class="col-form-label form-control-label col-md-3">Title :</label>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="article.title" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label form-control-label col-md-3">Url : </label>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="article.url" class="form-control">
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" (click)="addNewArticle()">Add</button>
    </div>
  </div>
  <div class="col-8">
    <div *ngFor="let art of articles">
      <table class="container">
        <tbody>
        <tr>
          <td><a href="{{art.url}}" target="_blank">{{art.title}}</a>:
          </td>
          <td style="float: right" class="text-info">
            <app-like></app-like>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


