<h2 class="text-center text-danger"> Add New Customer</h2>
<div class="row">
  <div class="col-8">
    <table class="table table-hover" style="margin-top: 5%">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Edit</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cus of customers">
        <td>{{cus.idCustomer}}</td>
        <td>{{cus.name}}</td>
        <td>{{cus.phone}}</td>
        <td>{{cus.address}}</td>
        <td>
          <a class="btn btn-primary" role="button">Edit</a>
        </td>
        <td>
          <a class="btn btn-primary" role="button">View</a>
        </td>
        <td>
          <a class="btn btn-primary" role="button">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCustomers()">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCustomers()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
  </div>
  <div class="col-4">
    <div class="card-body ">
      <div class="form-group row">
        <label for="idCustomer" class="col-lg-3 col-form-label form-control-label">ID Customer:</label>
        <div class="col-lg-9">
          <input id="idCustomer" class="form-control editable" [(ngModel)]="customer.idCustomer" type="text"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label form-control-label">Customer name :</label>
        <div class="col-md-9">
          <input class="form-control" type="text" [(ngModel)]="customer.name" placeholder="Enter name"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label form-control-label">Genders :</label>
        <div class="form-check col-md-2">
          <input class="form-check-input" type="radio" name="gender" id="male" [(ngModel)]="customer.gender"
                 value="male"
                 checked/>
          <label class="form-check-label" for="male">
            Male
          </label>
        </div>
        <div class="form-check col-md-2">
          <input class="form-check-input" type="radio" name="gender" [(ngModel)]="customer.gender" id="female"
                 value="female">
          <label class="form-check-label" for="female">
            Female
          </label>
        </div>
        <div class="form-check col-md-2">
          <input class="form-check-input" type="radio" name="gender" [(ngModel)]="customer.gender" id="other"
                 value="other">
          <label class="form-check-label" for="other">
            Other genders </label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Date of Birth:</label>
        <div class="col-lg-9">
          <input class="form-control editable" [(ngModel)]="customer.dateOfBirth" type="date"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">ID Card :</label>
        <div class="col-lg-9">
          <input class="form-control editable" [(ngModel)]="customer.idCard" type="number"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Phone :</label>
        <div class="col-lg-9">
          <input class="form-control editable" [(ngModel)]="customer.phone" type="text"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Email :</label>
        <div class="col-lg-9">
          <input class="form-control editable" [(ngModel)]="customer.email" type="text"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Address :</label>
        <div class="col-lg-9">
          <input class="form-control editable" [(ngModel)]="customer.address" type="text"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Types Customer :</label>
        <div class="col-lg-9">
          <select class="form-control editable" [(ngModel)]="customer.typeCustomer">
            <option value="Diamond">Diamond</option>
            <option value="Platinum">Platinum</option>
            <option value="Gold">Gold</option>
            <option value="Silver">Silver</option>
            <option value="Member">Member</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"></label>
        <div class="col-lg-9">
          <input type="reset" class="btn btn-secondary" value="Cancel">
          <input type="submit" class="btn btn-primary" (click)="addNewCustomer()" value="Add">
        </div>
      </div>
    </div>
  </div>
</div>











