<div class="container">
  <h2 class="text-center text-danger"> Customer List</h2>
  <div class="row">
    <table class="table table-hover" style="margin-top: 5%">
      <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Edit</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cus of customers | slice: (page-1) * pageSize : page * pageSize">
        <td>{{cus.id}}</td>
        <td>{{cus.idCustomer}}</td>
        <td>{{cus.name}}</td>
        <td>{{cus.phone}}</td>
        <td>{{cus.address}}</td>
        <td>{{cus.dateOfBirth | date:'dd/MM/yyyy'}}</td>
        <td>
          <button class="btn btn-warning" [routerLink]="['/customer/edit', cus.id]">Edit</button>
        </td>
        <td>
          <button class="btn btn-primary">View</button>
        </td>

        <td>
          <button class="btn btn-danger" (click)="open(content)">Delete</button>
<!--          modal-->
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Delete Customer</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label>Do you want delete {{cus.name}} ?</label>
                  <div class="input-group">
                    <p>ID Customer : {{cus.idCustomer}}</p>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark"  (click)="modal.dismiss('Cancel')" (click)="deleteCustomer(cus.id)">Save</button>
              <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.dismiss('Cancel')">
                <span aria-hidden="true">Cancel</span>
              </button>
            </div>
          </ng-template>
        </td>
      </tr>

      </tbody>
    </table>

    <div class="text-right">
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="collectionSize"></ngb-pagination>
    </div>
  </div>


</div>


