@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-size: 20px;
  color: #222;
}

.navbar {
  background-color: #ffdb90 !important;
}

.navbar ul {
  background-color: #ffdb90 !important;
}

.navbar li a {
  color: black !important;
}

.navbar li a:hover {
  color: white !important;
}

.carousel-inner img {
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 30%;

}

.carousel-caption h1 {
  font-size: 300%;
  text-transform: uppercase;
  text-shadow: 5px 5px 15px #000;
}

.carousel-caption h3 {
  text-transform: uppercase;
  text-shadow: 5px 5px 15px #000;
}

.btn-primary {
  background-color: rgb(82, 64, 120);
  border: 1px solid white;
}

.btn-primary:hover {
  background-color: rgb(62, 44, 100);
  border: 1px solid white;
}

/*media query*/
@media (max-width: 992px) {
  .carousel-caption {
    top: 10%;
  }

  .carousel-caption h1 {
    font-size: 250%;
  }

  .carousel-caption h3 {
    font-size: 160%;
  }

  .carousel-caption .btn {
    font-size: 120%;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    top: 10%;

  }

  .carousel-caption h1 {
    font-size: 150%;
  }

  .carousel-caption h3 {
    font-size: 100%;
  }

  .carousel-caption .btn {
    font-size: 60%;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 10%;
  }

  .carousel-caption h1 {
    font-size: 100%;
  }

  .carousel-caption h3 {
    font-size: 80%;
  }

  .carousel-caption .btn {
    font-size: 60%;
  }
}


.social a {
  font-size: 2rem;
  padding: 2rem;
}

.padding {
  padding: 0.5rem;
}

footer {
  background-color: #d5d5d5;
}

.contact {
  top: 40%;
  padding: 3rem;
}

.contact a {
  text-decoration: none;
  padding-top: 10px !important;
}

hr {
  border-top: 1px solid black;
  width: 75%;
}
